.vs
trofimon/trofimon.Android/bin
trofimon/trofimon.Android/bin/Debug
trofimon/trofimon.Android/obj
trofimon/trofimon.Android/obj/.cache
trofimon/trofimon.Android/obj/Debug
trofimon/trofimon.UWP/bin
trofimon/trofimon.UWP/obj
trofimon/trofimon.UWP/obj/x64/Debug
trofimon/trofimon.UWP/obj/x86/Debug
trofimon/trofimon/bin
trofimon/trofimon/obj
trofimon/trofimon/obj/Debug
trofimon/trofimon/obj/Release